.icon {
  display: inline-block;
  vertical-align: middle;
}

.gray-light path {
  color: var(--gray);
  stroke: var(--gray);
}

.orange path {
  color: var(--orange);
  stroke: var(--orange);
}

.indigo-blue path {
  color: var(--indigo-blue);
  stroke: var(--indigo-blue);
}

.dark-blue {
  color: var(--dark-blue);
  stroke: var(--dark-blue);
}

.danger path {
  color: var(--color-border-danger);
  stroke: var(--color-border-danger);
}
